<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Accommodations</h2>
            <hr class="primary">
             <h3>Where to Stay</h3>
            <p>
                Below is a brief list of recommendations on places to stay for your visit to Chicago.
                It is summer-time Chi - a big deal! - so we do recommend reserving your accommodation early.
                Kelsey and Dain will be staying at their house in West Town, which is about 15 minutes from the venue and hotels. We have reserved a block of rooms at both the JW Marriott and the Residence Inn. Unbooked rooms will be released 30 days prior to the event, so book yours ASAP.
            </p>
            <p>We will provide shuttle service to/from the hotels.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">The JW Marriott</th>
                    <td>
                        The <a href="https://www.marriott.com/hotels/travel/chijw-jw-marriott-chicago/">The JW Marriott</a> is conveniently located in the loop and very close to the wedding venue.
                        It is about 3 miles from the Planetarium.
                    </td>
                </tr>
                <tr>
                    <th>Residence Inn</th>
                    <td>
                        <a href="https://www.marriott.com/reservation/rateListMenu.mi?defaultTab=standard">Residence Inn Downtown/Loop</a> is the cheaper of the two hotel options. In the heart of the Loop, the Residence Inn is about 3 miles from the Planetarium and just a few blocks
                        from the Mag Mile and the JW Marriott.
                    </td>
                </tr>
                <tr>
                    <th>Vacation rentals</th>
                    <td>
                        Both <a href="https://www.vrbo.com/">VRBO</a> and <a href="https://www.airbnb.com/">airbnb</a> have a number of rentals in the area. This is often more affordable option for those who don't mind something a bit more self-service.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
