<header id="main-header">
    <div class="transparent-overlay"></div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>We're getting married!!</h1>
            <h2>September 15, 2019</h2>
            <p>{{ days_until_wedding }} Days Until The Big Day!</p>
        </div>
    </div>
</header>
<section class="bg-info" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ sections.1 }}
            </div>
        </div>
    </div>
</section>