{% load staticfiles %}
<section class="no-padding" id="navigation">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="#event" class="portfolio-box page-scroll">
                    <img src="{% static 'bigday/images/adler-planetarium2.jpeg' %}"
                        class="img-responsive"
                        alt=""
                        style="height:350px;width:100%;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                The Event
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#venue" class="portfolio-box page-scroll">
                    <img src="{% static 'bigday/images/adler-planetarium.jpg' %}"
                        class="img-responsive"
                        alt=""
                        style="height:350px;width:100%;over-flow:hidden;object-fit:cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Adler Planetarium
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#story" class="portfolio-box page-scroll">
                    <img src="{% static 'bigday/images/carousel/IMG_1013.jpg' %}"
                        class="img-responsive"
                        alt=""
                        style="height:350px;width:100%;object-fit:cover;object-fit:cover;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Our Story
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
