<header id="second-header" class="secondary"></header>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                Dain did some research on rings and sent his mom and future mother-in-law some ideas. All 3 of them liked different rings. Not wanting to mess up too badly, Dain decided to have Kelsey pick out her own ring. He surprised her on a rainy Saturday in March to go ring shopping. After Kelsey picked out a ring, Dain came back and purchased the ring. Dain set the proposal date for June and invited Laura, Rog, and a few close friends and family to Chicago to take part in the proposal surprise. With the help of Kelsey's closest friend, Kelsey Shaw, Dain organized a surprise proposal and celebration. Kelsey and Dain went out to dinner at their favorite Chicago restaurant, Topo Gigio, and then Dain proposed on the roofdeck of their apartment. She said yes (Dain blacked out at this point) and then he surpised her with an apartment full of friends and family.
            </p>
        </div>
    </div>
</section>
