{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Registry</h2>
        <hr class="primary">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/registry/amazon.png' %}" class="img-responsive" alt="" style="height:auto;width:300px;border:1px solid black;">
                    <h3>Amazon</h3>
                    <p>
                        <a href="http://lastradainternational.org/">Amazon</a>
                        Dain loves Amazon almost as much as he loves Kelsey. Now, shower us with gifts you subservient neanderthals!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/registry/west-elm.png' %}" style="height:auto;width:300px;" class="img-responsive" alt="">
                    <h3>West Elm</h3>
                    <p>
                        <a href="http://www.sparkmicrogrants.org/">West Elm</a>
                        Shower us with gifts you subservient neanderthals!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/registry/go-fund-me.png' %}" style="height:auto;width:300px;border:1px solid black;" class="img-responsive" alt="">
                    <h3>Go Fund Me</h3>
                    <p>
                        The <a href="http://www.africanconservation.org/about-us">African Conservation Foundation</a>
                        We're working on a few home improvement projects, including remodeling our bathrooms and kitchen. We'd love your support in making our
                        starter home our dream home.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/registry/placeholder.png' %}" style="height:auto;width:300px;" class="img-responsive" alt="">
                    <h3>Kelsey Can Pick</h3>
                    <p>
                        The <a href="https://www.climaterealityproject.org/">Kelsey Can Pick</a>
                        Kelsey likes stuff. Now, shower her with gifts you subservient neanderthals!
                    </p>
                </div>
            </div>

        </div>
        <hr class="light">
        <p>
            If you still feel moved to give a gift, please keep in mind that we live on the other side of the world (almost exactly), which means a virtual or monetary gift is much easier than a physical gift.
        </p>
</div>
