<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Things to Do</h2>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>There's no shortage of things to do in Chicago! Some ideas are listed below.</p>

            <h4>Museums</h4>
            <p>A walk around the falls at sunset or at night can be gorgeous. You can also take a ferry through them, though prepare to get wet!</p>
            <p>Around Niagara Falls is a thriving industry of haunted houses, a Butterfly Conservatory, Botanical Gardens, and even Niagara Falls Casino.</p>

            <h4>Spa</h4>
            <p>Two of the nicest hotels in town host relaxing spas: Secret Garden Spa at Prince of Wales and 100 Fountain Spa at Pillar and Post.</p>
            <h4>Shopping</h4>
            <p>
                There is a long tradition of Americans flocking to Canada for discount shopping and Canadians flocking to America for the same.
                In addition to a variety of outlet malls on both sides of the border, Niagara-on-the-Lake town also features a very quaint downtown with lots of unique shops.
            </p>

            <h4>Theater</h4>
            <p>
                The Shaw theater festival will be taking place in NOTL this weekend, producing the works of Bernard Shaw and Shavian playwrights.
                Theaters are located in NOTL town.
            </p>

            <h4>Eat</h4>
            <p>
                Great meals can be found at <a href="http://www.thegarrisonhouse.ca/#!home/mainPage">Garrison House</a>, <a href="http://www.treadwellcuisine.com/">Treadwell</a>, and <a href="http://backhouse.xyz/">Backhouse</a>.
                <a href="http://www.twosistersvineyards.com/site/kitchen-76">Kitchen 72</a> inside the Two Sisters Vineyard serves delicious Italian food inside of an impressive estate.
            </p>

            <h4>Drink</h4>
            <p><a href="http://www.silversmithbrewing.com/">Silversmith Brewing</a> is an excellent local artisanal brewery offering offbeat new drinks.</p>
            <p>Some informal later-night options include The Olde Angel Inn, Sandtrap, and the Irish Harp.</p>
        </div>
    </div>
</div>
