<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Adler Planetarium</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>Niagara-on-the-Lake is located about 30 minutes NW of Niagara Falls, near the border between the US and Canada.</p>
            <p>
                For those coming from Canada, it is a 1.5 hour drive South from Toronto's Pearson International Airport
                and a 1 hour drive East from Hamilton's John C. Munro International Airport.
            </p>
			<p>
                Those coming from the US might find it cheaper to drive to Buffalo or fly to Buffalo Niagara International Airport.
                The domestic flights to Buffalo are typically more cost-effective than flying internationally to Toronto.
                However, be sure to bring your passports and factor in additional travel time for the border crossing.
                There is a <a href="http://www.buffaloairportshuttle.com/">Buffalo Airport Shuttle</a> which offers transfers from the airport to Niagara-on-the-Lake.
            </p>
            <p>For those of you driving, we will try to facilitate carpooling with other guests.</p>
            <p>Bus service is also available to Niagara-on-the-Lake, though is not frequent and does require connecting through Niagara Falls. </p>
        </div>
    </div>
</div>
