<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Adler Planetarium</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>The Adler Planetarium is located on Lake Michigan next to Soldier Field.</p>
            <p>
                For those of you driving, parking is available. However, you may have to battle Chicago drivers
                and Bear fans.
            </p>
            <p>Bus service is also to and from the hotels provided to guests. </p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23769.863914224756!2d-87.6242924008192!3d41.86633341553058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2b6fb7b114b5%3A0x6920a3aa12218ea6!2sAdler+Planetarium!5e0!3m2!1sen!2sus!4v1546291558437" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
