{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}

    {% include 'partials/navbar.html' %}

    {% block main %}

    {% include 'partials/main_header.html' %}
    {% include 'partials/section.html' with section=sections.1 id="welcome" className="bg-info text-center" %}

    {% include 'partials/occasion_preview.html' %}

    {% include 'partials/section.html' with section=sections.2 id="event" className="bg-dark" %}
    {% include 'partials/section.html' with section=sections.3 id="saturday-event" className="bg-info" %}
    {% include 'partials/section.html' with section=sections.4 id="accomodations" className="" %}
    {% include 'partials/section.html' with section=sections.5 id="things-to-do" className="" %}

    {% include 'partials/section.html' with section=sections.6 id="venue" %}
    {% include 'partials/section.html' with section=sections.7 id="wedding-party" className="bg-dark" %}
    {% include 'partials/section.html' with section=sections.8 id="wedding-party" className="bg-info" %}
    {% include 'partials/section.html' with section=sections.9 id="registry" %}
    {% include 'partials/section.html' with section=sections.10 id="story" className="bg-dark"%}
    {% include 'partials/section.html' with section=sections.11 id="proposal" className="bg-dark"%}

    <section id="carousel">{% include 'partials/carousel.html' %}</section>

    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
