{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}

    {% include 'partials/navbar.html' %}

    {% block main %}

    {% include 'partials/landing_page.html' %}

    {% include 'partials/occasion_preview.html' %}

    {% include 'partials/event.html' %}
    <section id="venue">{% include 'partials/venue.html' %}</section>
    <section id="accommodations">{% include 'partials/accommodations.html' %}</section>
    <section id="things-to-do">{% include 'partials/things-to-do.html' %}</section>
    {% include 'partials/wedding-party.html' %}
    <section id="registry" class="bg-primary">{% include 'partials/registry.html' %}</section>
    <section id="story" class="bg-dark">{% include 'partials/story.html' %}</section>
    <section id="carousel">{% include 'partials/carousel.html' %}</section>
    {% include 'partials/proposal.html' %}

    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
