{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}

    {% include 'partials/navbar.html' %}

    {% block main %}

    {% include 'partials/main_header.html' %}
    {% include 'partials/section.html' with section=sections.1 id="welcome" className="bg-dark text-center" %}  {# welcome #}

    {% include 'partials/occasion_preview.html' %}

    {% include 'partials/section.html' with section=sections.2 id="story" className="bg-dark" %}          {# story #}
    {% include 'partials/section.html' with section=sections.3 id="proposal" className="bg-info" %}       {# proposal #}
    {% include 'partials/section.html' with section=sections.4 id="event" className="" %}                 {# friday #}
    {% include 'partials/section.html' with section=sections.5 id="" className="bg-dark" %}               {# saturday #}
    {% include 'partials/section.html' with section=sections.6 id="" className="bg-info" %}               {# sunday #}
    {% include 'partials/section.html' with section=sections.7 id="accomodations" className="" %}         {# accomodations #}
    {% include 'partials/section.html' with section=sections.8 id="" className="bg-dark" %}               {# things to do #}
    {% include 'partials/section.html' with section=sections.9 id="venue" className="" %}                 {# venue #}
    {% include 'partials/section.html' with section=sections.10 id="wedding-party" className="bg-dark"%}  {# bridal party #}
    {% include 'partials/section.html' with section=sections.11 id="" className="bg-info"%}               {# groomsmen #}
    {% include 'partials/section.html' with section=sections.12 id="registry" className=""%}       {# registry #}

    <section id="carousel">{% include 'partials/carousel.html' %}</section>

    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
